.container{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1rem;
}
h1,h2{
    font-weight: bold;
}
h1{
    font-size:1.2rem;
    color:#FF5733;
}
h2{
    font-size:1rem;
    color:#000090;
}
/*
<ul class='ulMovieDetails'>
     <li><span class='icon'><img src="images/${iconsImg["title"]}"/></span> ${data.Title}</li>
     <li>Year: ${data.Year}</li>
     <li>Rated: ${data.Rated}</li>
     <li><span class='icon'><img src="images/${iconsImg["director"]}"/></span> ${data.Director}</li>
     <li><span class='icon'><img src="images/${iconsImg["actors"]}"/></span> ${formatActorsData(data.Actors)}</li>
     <li><div id="actorDetails"></div></li>
     <li><span class='icon'><img src="images/${iconsImg["revenue"]}"/></span> ${data.BoxOffice}</li>
     <li><span class='icon'><img src="images/${iconsImg["plot"]}"/></span> ${data.Plot}</li>
     </ul>`;
     */
.container .poster{
    
}
.container .poster img{
    padding:.5rem;
    box-shadow: 3px 3px 3px 3px #666666;
}
.container .ulMovieDetails{
    list-style-type: none;
}
.container .ulMovieDetails li{
    margin-bottom:.5rem;
}
.container .ulMovieDetails li .title{
    font-weight:bold;
    font-size:larger;
    color:#000090;
}
.container .ulMovieDetails li .money{
    font-weight:bold;
    color:green;
}
.container .ulMovieDetails .icon{
    width:3rem;
    display:inline-block;
}

.container .ulMovieDetails .icon img{
    width: 3rem; 
    vertical-align: middle;
    margin-right:.5rem;
}

.container .ulMovieDetails li .actorDetails{
    margin-left:1rem;
}

.container .ulMovieDetails li .actorDetails img{
    padding:.5rem;
    max-width:10rem;
    box-shadow: 3px 3px 3px 3px #666666;
}